html {
    text-align: center;
    font-family: monospace;
}

h1 {
    color: blueviolet;
    font-size: 20;
}

h2 {
    color: blue;
    font-size: 15;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-weight: bold;
}